# Archivos generados automáticamente
*.log
*.zip
.idea
reports/
output/
# Directorios de dependencias
/node_modules
/bower_components

# Archivos de compilación
/dist
/out

# Archivos de configuración sensibles
/config.js
/secret.key